<h2>{{title}} Projects</h2>
<select *ngIf="currentRoute === '/admin'" (change)="onChange($event.target.value)">
  <option value="All">All Projects</option>
  <option value="Product">Products</option>
  <option value="Art">Art</option>
  <option value="Charitable">Charitable</option>
  <option value="Personal">Personal</option>
</select>

<div *ngFor="let project of projects | async | category:categoryFilter | featured:featuredFilter"  class="panel panel-default">
  <div class="panel-body">
    <h5 *ngIf="project.featured" class="text-primary">Featured!</h5>
    <h3 (click)="goToDetail(project)"><em>{{project.name}}</em></h3>
    <div *ngIf="currentRoute === '/admin'">
      <button (click)="feature(project)" type="button" class="btn">Toggle Feature</button>
      <button (click)="startEdit(project)" type="button" class="btn">Edit or Delete</button>
      <app-edit-project
        *ngIf="projectToEdit == project"
        [project]="projectToEdit">
      </app-edit-project>
    </div>
    <p>{{project.description}}</p>
  </div>
</div>
